

body{
    margin:0;
    overflow:hidden;
    font-size: 14;
}

*{
    box-sizing: border-box;
}

.container{
    height:100vh;
}

.title-bar{
    height:5vh;
    background-color:#0F703B;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #fff;

}

.menu-bar{
    height:5vh;
    background-color: #0F703B;
    display: flex;
}

.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 18;
    display:flex;
    align-items: center;
}

.menu-item.selected{
    background-color: #fff;
    color: #0F703B;
}

.menu-item.selected:hover{
    background-color:#fff;
    cursor:default;
}

.menu-item:hover{
    background-color: #0f552e;
    cursor: pointer;
}

.menu-icon-bar{
    height:6vh;

}

.formula-bar{
    height:5vh;

}

.data-container{
    height:75vh;

}

.sheet-bar{
    height:4vh;

}